.cl-button {
    &__icon {
        &__outline {
            height: 48px;
            width: 56px;
            padding: 0;
            justify-content: center;
            border-radius: 4px;

            &:hover {
                &:after {
                    border-radius: 4px;
                }
            }

            cl-icon {
                .icon {
                    background-color: $colorBlack56;
                }
            }

            &:disabled {
                cl-icon {
                    .icon {
                        background-color: $colorBlack16;
                    }
                }
            }

            &--secondary {
                cl-icon {
                    .icon {
                        background-color: $colorBlack32;
                    }
                }
            }
        }
    }
}
