<div fxLayout="column" fxLayoutGap="16px">
  <h2>Text buttons</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButton disabled>
      <span>Disabled</span>
    </button>

    <button clButton>
      <span>Primary</span>
    </button>

    <button clButtonSecondary>
      <span>Secondary</span>
    </button>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButton disabled>
      <i clIcon name='cl-active'></i>
      <span>Disabled</span>
    </button>

    <button clButton>
      <i clIcon name='cl-collact'></i>
      <span>Primary</span>
    </button>

    <button clButtonSecondary>
      <i clIcon name='cl-collact'></i>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButton disabled>
      <span>Disabled</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButton>
      <span>Primary</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonSecondary>
      <span>Secondary</span>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <a href='/' clButton>
      <span>Link Primary</span>
      <i clIcon name='cl-collact'></i>
    </a>

    <a href='/' clButtonSecondary>
      <span>Link Secondary</span>
      <i clIcon name='cl-collact'></i>
    </a>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    <button clButtonIcon disabled>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonIcon>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonIconSecondary>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    <button clButtonIconSmall disabled>
      <i clIconSmall name='cl-collact'></i>
    </button>

    <button clButtonIconSmall>
      <i clIconSmall name='cl-collact'></i>
    </button>

    <button clButtonIconSmallSecondary>
      <i clIconSmall name='cl-collact'></i>
    </button>
  </div>

  <h2>Contained buttons</h2>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained [disabled]="true">
      <span>Disabled</span>
    </button>

    <button clButtonContained>
      <span>Primary</span>
    </button>

    <button clButtonContainedSecondary>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained [disabled]="true">
      <i clIcon name='cl-collact'></i>
      <span>Disabled</span>
    </button>

    <button clButtonContained>
      <i clIcon name='cl-collact'></i>
      <span>Primary</span>
    </button>

    <button clButtonContainedSecondary>
      <i clIcon name='cl-collact'></i>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained [disabled]="true">
      <span>Disabled</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonContained>
      <span>Primary</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonContainedSecondary>
      <span>Secondary</span>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained clButtonDense [disabled]="true">
      <span>DenseDisabled</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonDense clButtonContained>
      <span>Dense Primary</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonContainedSecondary clButtonDense>
      <span>Dense Secondary</span>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonIconContained disabled>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonIconContained>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonIconContainedSecondary>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>

  <h2>Outline buttons</h2>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonOutline disabled>
      <span>Disabled</span>
    </button>

    <button clButtonOutline>
      <span>Primary</span>
    </button>

    <button clButtonOutlineSecondary>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonOutline disabled>
      <i clIcon name='cl-collact'></i>
      <span>Disabled</span>
    </button>

    <button clButtonOutline>
      <i clIcon name='cl-collact'></i>
      <span>Primary</span>
    </button>

    <button clButtonOutlineSecondary>
      <i clIcon name='cl-collact'></i>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonOutline disabled>
      <span>Disabled</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonOutline>
      <span>Primary</span>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonOutlineSecondary>
      <span>Secondary</span>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
      <button clButtonOutline clButtonDense [disabled]="true">
        <span>DenseDisabled</span>
        <i clIcon name='cl-collact'></i>
      </button>

      <button clButtonOutline clButtonDense>
        <span>Dense Primary</span>
        <i clIcon name='cl-collact'></i>
      </button>

      <button clButtonOutlineSecondary clButtonDense>
        <span>Dense Secondary</span>
        <i clIcon name='cl-collact'></i>
      </button>
    </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonIconOutline disabled>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonIconOutline>
      <i clIcon name='cl-collact'></i>
    </button>

    <button clButtonIconOutlineSecondary>
      <i clIcon name='cl-collact'></i>
    </button>
  </div>

</div>
