<div fxLayout="column" fxLayoutGap="16px">
  <h2>Text buttons</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButton disabled>
      <span>Disabled</span>
    </button>

    <button clButton>
      <span>Primary</span>
    </button>

    <button clButtonSecondary>
      <span>Secondary</span>
    </button>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButton disabled>
      <cl-icon></cl-icon>
      <span>Disabled</span>
    </button>

    <button clButton>
      <cl-icon></cl-icon>
      <span>Primary</span>
    </button>

    <button clButtonSecondary>
      <cl-icon></cl-icon>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButton disabled>
      <span>Disabled</span>
      <cl-icon></cl-icon>
    </button>

    <button clButton>
      <span>Primary</span>
      <cl-icon></cl-icon>
    </button>

    <button clButtonSecondary>
      <span>Secondary</span>
      <cl-icon></cl-icon>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <a href='/' clButton>
      <span>Link Primary</span>
      <cl-icon></cl-icon>
    </a>

    <a href='/' clButtonSecondary>
      <span>Link Secondary</span>
      <cl-icon></cl-icon>
    </a>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    <button clButtonIcon disabled>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIcon>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIconSmall>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIconSecondary>
      <cl-icon></cl-icon>
    </button>
  </div>

  <h2>Contained buttonss</h2>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained [disabled]="true">
      <span>Disabled</span>
    </button>

    <button clButtonContained>
      <span>Primary</span>
    </button>

    <button clButtonContainedSecondary>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained [disabled]="true">
      <cl-icon></cl-icon>
      <span>Disabled</span>
    </button>

    <button clButtonContained>
      <cl-icon></cl-icon>
      <span>Primary</span>
    </button>

    <button clButtonContainedSecondary>
      <cl-icon></cl-icon>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonContained [disabled]="true">
      <span>Disabled</span>
      <cl-icon></cl-icon>
    </button>

    <button clButtonContained>
      <span>Primary</span>
      <cl-icon></cl-icon>
    </button>

    <button clButtonContainedSecondary>
      <span>Secondary</span>
      <cl-icon></cl-icon>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonIconContained disabled>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIconContained>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIconContainedSecondary>
      <cl-icon></cl-icon>
    </button>
  </div>

  <h2>Outline buttons</h2>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonOutline disabled>
      <span>Disabled</span>
    </button>

    <button clButtonOutline>
      <span>Primary</span>
    </button>

    <button clButtonOutlineSecondary>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonOutline disabled>
      <cl-icon></cl-icon>
      <span>Disabled</span>
    </button>

    <button clButtonOutline>
      <cl-icon></cl-icon>
      <span>Primary</span>
    </button>

    <button clButtonOutlineSecondary>
      <cl-icon></cl-icon>
      <span>Secondary</span>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonOutline disabled>
      <span>Disabled</span>
      <cl-icon></cl-icon>
    </button>

    <button clButtonOutline>
      <span>Primary</span>
      <cl-icon></cl-icon>
    </button>

    <button clButtonOutlineSecondary>
      <span>Secondary</span>
      <cl-icon></cl-icon>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px">
    <button clButtonIconOutline disabled>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIconOutline>
      <cl-icon></cl-icon>
    </button>

    <button clButtonIconOutlineSecondary>
      <cl-icon></cl-icon>
    </button>
  </div>

</div>
