.cl-button {
    &__icon {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 0;
        justify-content: center;

        &:hover {
            &:after {
                border-radius: 50%;
            }
        }

        .cl-icon {
            background-color: $colorBlack56;
        }

        &:disabled {
            cl-icon {
                .icon {
                    background-color: $colorBlack16;
                }
            }
        }

        &__small {
            height: 32px;
            width: 32px;

            .cl-icon {
                background-color: $colorBlack56;
            }

            &:disabled {
                .cl-icon {
                    background-color: $colorBlack16;
                }
            }
        }

        &__small--secondary {
            height: 32px;
            width: 32px;

            .cl-icon {
                background-color: $colorBlack32;
            }
        }

        &--secondary {
            .cl-icon {
                background-color: $colorBlack32;
            }
        }
    }
}
