  .cl-button {
      &__icon {
          &__contained {
              height: 48px;
              width: 56px;
              padding: 0;
              border-radius: 4px;
              justify-content: center;

              .cl-icon {
                  background-color: $colorBlack32;
              }

              &:hover {
                  &:after {
                      border-radius: 4px;
                  }
              }

              &:disabled {
                  .cl-icon {
                      background-color: $colorBlack16;
                  }
              }

              &--secondary {
                  .cl-icon {
                      background-color: $colorBlack32;
                  }
              }
          }
      }
  }
